<a href="https://colab.research.google.com/github/tomalexsmith/Bitcoin-sentiment-analysis/blob/main/yFinance_scraping_btc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.9/dist-packages (0.2.18)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.9/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.9/dist-packages (from yfinance) (40.0.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.3.7)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.1)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [ ]:
import pandas as pd

### Specify market data to scrape

In [ ]:
import yfinance as yf

start_date = '2022-03-07'
end_date = '2023-03-06'

BTC_Ticker = yf.Ticker("BTC-USD")
BTC_Data = BTC_Ticker.history(start=start_date,end=end_date)

### Daily return

In [ ]:
BTC_Data = BTC_Data.reset_index()

In [ ]:
BTC_Data['Date'] = BTC_Data['Date'].dt.date

In [ ]:
BTC_Data = BTC_Data[['Date','Open','Close']]
BTC_Data['Daily Return'] = BTC_Data['Close'] - BTC_Data['Open']

<ipython-input-28-e538dceedf59>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_Data['Daily Return'] = BTC_Data['Close'] - BTC_Data['Open']

In [ ]:
BTC_Data.head()

         Date          Open         Close  Daily Return
0  2022-03-07  38429.304688  38062.039062   -367.265625
1  2022-03-08  38059.902344  38737.269531    677.367188
2  2022-03-09  38742.816406  41982.925781   3240.109375
3  2022-03-10  41974.070312  39437.460938  -2536.609375
4  2022-03-11  39439.968750  38794.972656   -644.996094

In [ ]:
BTC_Data['Daily Return'] = ((BTC_Data['Daily Return'] / BTC_Data['Open'])*100)

In [ ]:
BTC_Data = BTC_Data[['Date','Daily Return']]

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/BTC_data_dailyrtrn.csv'

with open(path, 'a', encoding = 'utf-8-sig') as f:
  BTC_Data.to_csv(f)

### Weekly return

In [ ]:
BTC_Data['Date'] = pd.to_datetime(BTC_Data['Date'] )
BTC_Data = BTC_Data.set_index('Date')

In [ ]:
weekly_return = BTC_Data['Close'].resample('W').last().reset_index()

In [ ]:
weekly_return.head()

        Date         Close
0 2022-03-13  37849.664062
1 2022-03-20  41247.824219
2 2022-03-27  46820.492188
3 2022-04-03  46453.566406
4 2022-04-10  42207.671875

In [ ]:
weekly_return['weekly_return'] = weekly_return['Close'].pct_change()

In [ ]:
weekly_return.head(len(weekly_return))

In [ ]:
path = '/content/drive/My Drive/BTC_data_weeklyrtrn.csv'

with open(path, 'a', encoding = 'utf-8-sig') as f:
  weekly_return.to_csv(f)